/* body {
  background: cyan;
} */

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.navbar {
  width: 94%;
  padding: 15px 3% 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p, .navbar img {
  font-size: 25px;
  text-decoration: underline;
  transition: all .2s ease-in-out;
}

p:hover, .navbar img:hover {
  transform: scale(1.3);
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

input {
  width: 40%;
  height: 30px;
  display: block;
  margin: 0;
  border: 1px solid black;
  transition: box-shadow 300ms;
}

input::placeholder {
  padding-top: 10px;
  color: black;
  font-size: 20px;
}

input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

button {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
button:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
button:active {
	position:relative;
	top:1px;
}